span {
    border-radius: 5px;

    .hidden {
        background-color: black;
    }
}

.wordsize {
    color: black;
    text-align: center;
}

.word:hover .wordsize {
    color: green;
}

.justRevealed {
    background-color: lightgreen;
}