<div class="game-page">
    <form #myForm = "ngForm"> 
        Mot: <input 
        type="text" 
        name='word' 
        placeholder="{{ lastGuessedWord() }}"
        #wordInput> 
        <button (click)="validate(wordInput)">Valider</button>
    </form>
    <app-game></app-game>
    <h4>Historique</h4>
    <table>
        <thead>
            <th>N°</th>
            <th>Mot</th>
            <th>Nombre</th>
        </thead>
        <tbody>
            <tr *ngFor="let word of testedWords; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ word.word }}</td>
                <td>{{ word.amount }}</td>
            </tr>
        </tbody>
    </table>
</div>