<div class="game">
    <div *ngIf="isGameOver">
        <h2>Bravo !</h2>
        <p><a href="{{ pageUrl }}">Lien de la page</a></p>
    </div>
    <h1>
        <span *ngFor="let word of splitInput(pageTitle)">
            <span *ngIf="isPunctuation(word)">{{ word }}</span>
            <span *ngIf="!isPunctuation(word)">
                <app-word [word]="word"></app-word>
            </span>
        </span>
    </h1>
    <app-paragraph *ngFor="let paragraph of paragraphs" [paragraph]="paragraph"></app-paragraph>
</div>